APP_NAME="Express Core"
APP_URL=http://localhost:3000
NODE_ENV=production
PORT=3000

ENABLECORS=false
ENABLEHELMET=false
FORMLIMIT=52428800
ENABLELOG=true

# Database (PostgreSQL) - uses Docker service name as host
DATABASE_URL="postgresql://postgres:root@postgres:5432/db_express?schema=public"
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=db_express

# JWT
# create with 'node -e "console.log(require('crypto').randomBytes(512).toString('hex'))"'
JWT_ACCESS_SECRET=change_this_to_a_secure_random_string
JWT_ACCESS_EXPIRES=15m
REFRESH_TOKEN_EXPIRES_DAYS=7
EMAIL_VERIFICATION_EXPIRES_HOURS=24
PASSWORD_RESET_EXPIRES_MINUTES=30
BCRYPT_ROUNDS=10

# SMTP Mail
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
SMTP_FROM="Express Core <noreply@example.com>"

# Redis - uses Docker service name as host
REDIS_HOST=redis
REDIS_PORT=6379

# create with 'node -e "console.log(require('crypto').randomBytes(128).toString('hex'))"'
REDIS_PASSWORD=secret
